@use "../../../mixins.scss" as m;
@use "../../../variables.scss" as v;

.card {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(1fr);
  @include m.tablet {
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 100px;
    gap: 20px;
    // izquierda
    .box1 {
      // nos amamos
      grid-column-start: 3;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end: 4;
    }
    .box2 {
      // ceremonia
      grid-column-start: 3;
      grid-column-end: 6;
      grid-row-start: 5;
      grid-row-end: 10;
      height: 100%;
    }
    .box9 {
      // mesa
      grid-column-start: 3;
      grid-column-end: 6;
      grid-row-start: 11;
      grid-row-end: 14;
      height: 100%;
      img {
        height: 100%;
      }
    }
    .box6 {
      // zapatos
      grid-column-start: 3;
      grid-column-end: 6;
      grid-row-start: 15;
      grid-row-end: 18;
      height: 100%;
      width: 100%;
    }
    .box5 {
      // novios solos
      grid-column-start: 3;
      grid-column-end: 6;
      grid-row-start: 19;
      grid-row-end: 22;
      height: 100%;
      img {
        height: 100%;
      }
    }
    // derecha
    .box3 {
      // novios
      grid-column-start: 6;
      grid-column-end: 11;
      grid-row-start: 1;
      grid-row-end: 6;
      height: 100%;
      img {
        height: 100%;
      }
    }

    .box4 {
      // instagram
      grid-column-start: 6;
      grid-column-end: 11;
      grid-row-start: 7;
      grid-row-end: 11;
      height: 105%;
    }
    .box8 {
      // manos
      grid-column-start: 6;
      grid-column-end: 11;
      grid-row-start: 12;
      grid-row-end: 16;
      height: 100%;
      img {
        height: 100%;
      }
    }
    .box7 {
      // platos
      grid-column-start: 6;
      grid-column-end: 11;
      grid-row-start: 17;
      grid-row-end: 21;
      height: 100%;
    }
    // centro
    .box10 {
      grid-column-start: 3;
      grid-column-end: 11;
      grid-row-start: 23;
      grid-row-end: 27;
    }
    .box11 {
      grid-column-start: 3;
      grid-column-end: 11;
      grid-row-start: 28;
      grid-row-end: 34;
      // height: 100%;
      img {
        height: 100%;
      }
    }
  }
  h1,
  h3 {
    text-transform: uppercase;
  }
  h1 {
    font-size: 2em;
    line-height: 35px;
  }
  h3 {
    font-size: 3em;
    margin: 10px 0;
    font-weight: bolder;
  }
  p {
    font-size: 1.7em;
    line-height: 23px;
  }
  &-link {
    a {
      color: #dbb1a5 !important;
    }
    text-transform: uppercase;
    background: #fff;
    border: 0.3rem solid #ce988c;
    padding: 1rem 3rem;
    font-size: clamp(0.8rem, 4.2vw, 1.3rem);
    transition: all 0.4s;
    margin-top: 10px !important;
  }
  &-texto {
    box-shadow: 0 0 3px 2px #bbb8b8;
    border-radius: 0.5rem;
    padding: min(3rem, 100%);
    background-color: #fcfaf9;
    margin-bottom: 45px;
    text-align: center;
    @include m.tablet {
      padding: min(2rem, 90%);
    }
    p {
      margin-bottom: 10px;
    }
    img {
      width: clamp(5rem, 20vw, 11rem);
      margin-bottom: 10px;
    }
  }
  &-img {
    margin-bottom: 45px;
    text-align: center;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 1px 4px #0003, 0 1px 3px #0000004d;
    border-radius: 0.5rem;
    img {
      width: 100%;
      border-radius: 0.5rem;
    }
  }
}
