<section class="card">
  <div class="card-texto">
    <h1>Nos amamos y nos elegimos todos los días</h1>
  </div>
  <div class="card-texto">
    <img src="#" alt="anillos" />
    <h3>Ceremonia</h3>
    <p>Hotel catalonia conde de florida blanca</p>
    <p>calle princesa No. 18 300002 mucia</p>
    <p>12 hrs</p>
    <p>A continuación de la ceremonia damos inicio a nuestra fiesta</p>
    <button class="card-link"><a href="#">Cómo llegar?</a></button>
  </div>
  <div class="card-img">
    <img src="../../../assets/images/images-conten/89129.jpeg" alt="novios" />
  </div>
  <div class="card-texto">
    <img src="#" alt="instagram" />
    <p>
      Ahora puedes entrar a instagram con nuestro hashtag y dejarnos una foto
      que recuerde momentos que hemos pasado junto a ti. ¡Comparte tus fotos con
      nosotros usando #CARLOSYANDREA2024! También tenemos nuestra cuenta de
      Instagram para que puedas ver todos los detalles de la boda
    </p>
  </div>
  <div class="card-img">
    <img
      src="../../../assets/images/images-conten/7DYWO4V6FNC3RD7ELVQKU2J5CE.avif"
      alt="novios2"
    />
  </div>
  <div class="card-texto">
    <img src="#" alt="zapatos" />
    <h3>dress code</h3>
    <p>elegante</p>
  </div>
  <div class="card-texto">
    <img src="#" alt="platos" />
    <h3>Valor de la tarjeta</h3>
    <p>$00 por persona</p>
    <p>puedes realizar el pago a la siguiente cuenta:</p>
    <p>Alxxx Axxxs xxxxxxx</p>
    <p>Cuenta de Banco Santander</p>
    <p>xxxx xxxx xxxx xxxx</p>
  </div>
  <div class="card-img">
    <img
      src="../../../assets/images/images-conten/f.elconfidencial.com_original_e52_d19_cfe_e52d19cfe44da0f12a62bc916ac069b1.jpg"
      alt="novios3"
    />
  </div>
  <div class="card-img">
    <img src="../../../assets/images/images-conten/137729.jpeg" alt="mesa" />
  </div>
  <div class="card-texto">
    <img src="#" alt="regalo" />
    <h3>confirmación de asistencia</h3>
    <p>
      Para nosotros es muy importante que confirmes esta invitación, o que nos
      cuentes si no nos puedes acompañar. No te olvides de contarnos si tienes
      alguna restricción alimentaria (vegano, celiaco, diabético, etc.)
    </p>
    <button class="card-link"><a href="#">Ir a Whatsapp</a></button>
  </div>
  <div class="card-img">
    <img
      src="../../../assets/images/images-conten/nathan-dumlao-duNBz_LBaEc-unsplash-scaled.jpg"
      alt="novios4"
    />
  </div>
</section>
