<section>
  <div class="hero">
    <div class="hero-text">
      <img
        src="../../../assets/images/rose-flower-bouquet-watercolor-for-valentine-free-png.webp"
        alt="flor"
        data-aos="zoom-in-right"
        data-aos-duration="2000"
      />
      <p data-aos="zoom-out-right" data-aos-duration="2000">¡Nos casamos!</p>
      <p class="nombre" data-aos="zoom-out-right" data-aos-duration="2000">
        Aaron Loeb <br />
        & <br />Anna Katrina
      </p>
      <p data-aos="zoom-in-right" data-aos-duration="2000">
        Y tenemos el honor de invitarles a celebrar nuestra boda
      </p>
      <p data-aos="zoom-out-right" data-aos-duration="2000">
        Monday, june 10 th 2022 | 09.00 AM
      </p>
      <p data-aos="zoom-in-right" data-aos-duration="2000">
        Club de Golf Los Lirios
      </p>
    </div>
  </div>
</section>
