<section>
  <div class="hero">
    <div class="hero-text">
      <img
        src="../../../assets/images/rose-flower-bouquet-watercolor-for-valentine-free-png.webp"
        alt="flor"
        data-aos="flip-left"
        data-aos-duration="1700"
      />
      <p data-aos="fade-right" data-aos-duration="1700">
        We are very pleased to invite you to our wedding
      </p>
      <p class="nombre" data-aos="fade-left" data-aos-duration="1700">
        Aaron Loeb <br />
        & <br />Anna Katrina
      </p>
      <p data-aos="fade-right" data-aos-duration="1700">Save the date</p>
      <p data-aos="fade-left" data-aos-duration="1700">
        Monday, june 10 th 2022 | 09.00 AM
      </p>
      <p data-aos="fade-right" data-aos-duration="1700">
        123 Anywhere St., Any City, ST 12345
      </p>
    </div>
  </div>
</section>
