@use "../../../mixins.scss" as m;
@use "../../../variables.scss" as v;

.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-text {
    text-align: center;
    margin: 30px;
    img {
      width: 300px;
      margin: 20px 0 20px 0;
      @include m.tablet {
        width: 680px;
        font-size: 3.5em;
        margin: 40px 0 20px 0;
      }
    }
    p {
      font-size: 2.3em;
      margin-bottom: 10px;
      @include m.tablet {
        font-size: 3.5em;
      }
    }
    .nombre {
      font-family: "Great Vibes", sans-serif !important;
      font-size: 5.5em;
      color: #daa773;
      margin: 25px 0;
      @include m.tablet {
        font-size: 7.5em;
      }
    }
  }
}
